.menu-div-btn {
    width:100%;
    margin: 15px auto ;
    display: grid;
    gap: 5px;
    justify-content: center;
    grid-template-columns:repeat(auto-fit, minmax(100px, 100px));
    z-index: 0;
}

.menu-btn {
    background-color: #03989E;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 5px;
    border: none;
}

.menu-btn:hover {
    background-color: #03a6ac;
    cursor: pointer;
}