* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.logo-container {
    background-color: #03989E;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.h1-cont {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1-cont a {
    text-decoration: none;
}
.h1-cont a:hover {
    border-radius: 10px;
    border-bottom: 1px solid #ddd;
}

.h1-cont h1,h2 {
    margin: 0 5px;
    color: #f2f2f2;
}

.img-logo {
    border-radius: 100%;
    height:80px;
    border-bottom:2px solid #fff;
}
.nav-container {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-a {
    color: #222;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.nav-a-links {
    width: 50%;
    padding:13px 20px;
    border-bottom: 1px solid #ddd;
}
.nav-a-links:hover {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}




