* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    width: 100%;
    overflow-x:hidden;
}

h1 {
    color: rgb(226, 226, 226);
    text-shadow:1px  1px 5px #333;
}
.box-cont {
    width: 100%;
}

.box {
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 0 ,0, 0.3);
    transform: translateX(-200%);
    transition: transform 0.4s ease-out;
    margin-bottom: 10px;
}

.box.show {
    transform: translateX(0);
}

.cont-producto {
    margin:15px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.img-producto {
    margin: 10px;
    height: 15rem;
    width:95%;
    border: 2px solid #222;
    border-radius: 20px;
    transition: 0.5s ease;
}

.img-producto:hover {
    height: 16rem;
    width: 98%;
}

.texto-producto {
    text-align: justify;
    border-radius: 5px;
    padding:15px;
    width:95%;
    height: auto;
    font-size: 12px;
}

@media screen and (min-width:600px ) {
    .cont-producto {
        flex-direction: row;
        width: 90%;
    }

    .img-producto { 
        height: 18rem;
        width: 90%; 
    }
    .img-producto:hover {
        height: 19rem;
        width: 100%;
    }
    .texto-producto { font-size: 16px; }
}

@media screen and (min-width:1000px ) {
    .box {
        width: 80%;
        margin: auto;
    }
    .texto-producto { font-size: 17px; }
}


@media screen and (min-width:2500px ) {
    .box {
        width: 80%;
    }
    .img-producto { 
        height: 30rem;
        width: 97%; 
    }
    .img-producto:hover {
        height: 33rem;
        width: 100%;
    }
    .texto-producto { font-size: 25px; }
}
  